.container {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.container svg {
  transform: scale(calc(1.5 * var(--scale)));
}

.st0 {
  display: none;
}
.st1 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 10;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 8;
  stroke-miterlimit: 10;
}
.st3 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 12;
  stroke-miterlimit: 10;
}
.st4 {
  fill: var(--bee-fill-color-secondary);
  stroke: var(--fill-color-primary);
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st5 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st6 {
  stroke: var(--fill-color-primary);
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st7 {
  fill: var(--fill-color-background);
  stroke: var(--fill-color-primary);
  stroke-width: 9;
  stroke-miterlimit: 10;
}
.st8 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 17;
  stroke-miterlimit: 10;
}
.st9 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 5;
  stroke-miterlimit: 10;
}
.st10 {
  fill: none;
}
.st11 {
  fill: var(--fill-color-secondary);
}
.st12 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 22;
  stroke-miterlimit: 10;
}
.st13 {
  font-family: "Poppins-Bold";
}
.st14 {
  font-size: 122px;
}
