.container {
  width: 30px;
  height: 30px;
}

.st49 {
  cursor: pointer;
  fill: var(--fill-color-background);
  stroke: var(--fill-color-primary);
  stroke-width: 27;
  stroke-miterlimit: 10;
}

.st49:hover {
  stroke: var(--fill-color-secondary);
}
