.container {
  width: 30px;
  height: 30px;
}

.st46 {
  cursor: pointer;
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 30;
  stroke-miterlimit: 10;
}

.st46:hover {
  stroke: var(--fill-color-secondary);
}
