* {
  box-sizing: border-box;
}

#root {
  width: 1280px;
  margin: 0 auto 0;
  padding: 0;
  text-align: center;

  /* hexagon sizes: */
  --hex-size-multiplier: 0.69;
  --hex-width: 72px;
  /* --hex-width: calc(var(--hex-size-multiplier) * 104px); */
  --hex-gap: 6px;
  --hex-height: 42px;
  /* --hex-height: calc(var(--hex-size-multiplier) * 60px); */
  --hex-cover-scale: 0.9;
  --hex-container-size: calc((var(--hex-width) * 3) + (var(--hex-gap) * 4));
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

@media (min-width: 600px) {
  body {
    transform: scale(var(--app-scale));
    transform-origin: top center;
    /* height: 100%; */
    /* overflow: hidden; */
  }
}
