* {
  box-sizing: border-box;
}

#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --yellow-secondary: #ffd924;

  /* hexagon sizes: */
  --hex-size-multiplier: 0.69;
  --hex-width: calc(var(--hex-size-multiplier) * 104px);
  --hex-gap: 6px;
  --hex-height: calc(var(--hex-size-multiplier) * 60px);
  --hex-container-size: calc((var(--hex-width) * 3) + (var(--hex-gap) * 4));

  /* width: var(--hex-container-size); */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
