#root {
  /* Project color definitions */

  /* --hexagon-color: var(--light-gray);
  --hexagon-colorCover: var(--white);
  --border-color: var(--black);
  --font-color: var(--black);
  --font-color-secondary: var(--yellow);
  --font-color-tertiary: var(--gray);
  --background-color: var(--white);
  --background-color-secondary: var(--yellow);
  --fill-color-primary: var(--black);
  --fill-color-secondary: var(--yellow);
  --fill-color-background: var(--white); */

  text-align: center;
  color: var(--font-color);

  /* hexagon sizes: */
  --hex-size-multiplier: 0.69;
  --hex-width: 4.5rem;
  /* --hex-width: calc(var(--hex-size-multiplier) * 104px); */
  --hex-gap: 0.375rem;
  --hex-height: 2.625rem;
  /* --hex-height: calc(var(--hex-size-multiplier) * 60px); */
  --hex-cover-scale: 0.9;
  --hex-container-size: calc((var(--hex-width) * 3) + (var(--hex-gap) * 4));
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.app {
  /* height: calc(100% / var(--scale)); */
  --scale: 1;
  overflow-y: hidden;
}

.app-container {
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--background-color);
}

body * {
  transition: background-color 250ms ease-in-out;
}

/* TODO: fix meadia queries */

@media (min-width: 600px) {
  .app {
    /* transform: scale(var(--app-scale-up));
    transform-origin: top center; */
    --scale: var(--app-scale-up);
  }
  :root {
    font-size: 19.2px;
  }
  svg {
    /* transform: scale(var(--app-scale-up)); */
    transform: scale(var(--scale));
    transform-origin: center;
  }
}

@media (max-height: 700px) {
  .app {
    /* transform: scale(var(--app-scale-down));
    transform-origin: top center; */
    --scale: var(--app-scale-down);
  }
  :root {
    font-size: 14.4px;
  }
  svg {
    /* transform: scale(var(--app-scale-down)); */
    transform: scale(var(--scale));
    transform-origin: center;
  }
}
