.container {
  text-align: center;
  color: #13141c;
  font-size: 24px;
  font-weight: 700;
  margin: 30px auto;
  background-color: var(--yellow-secondary);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
