.container {
  height: 2.5rem;
  width: fit-content;
  text-align: center;
  margin: auto;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.congratulationsWord {
  animation: fade 2s linear forwards;
  color: var(--font-color);
}

.wordScore {
  position: absolute;
  font-size: 2rem;
  color: var(--font-color-secondary);
  transform: translate(7rem, 1rem);
  animation: fadeslower 3s linear forwards;
}

.disabled {
  visibility: hidden;
}

.error {
  animation: fade 2s linear forwards;
  font-weight: bold;
  color: var(--font-color);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeslower {
  from {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  87.5% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
