.container h1 {
  text-align: center;
}

.countContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem 0.6rem;
  justify-content: center;
  max-width: 30rem;
  padding: 0 1rem;
  margin: 0.5rem auto 0px;
}

.progressText {
  display: inline-block;
  color: var(--font-color-tertiary);
  font-weight: 500;
  text-align: center;
  padding: 0.4rem 0 0;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 1rem;
}

.progressText b {
  color: var(--font-color);
  font-size: 1rem;
}

.st5 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 3.01;
  /* stroke-width: 4.51808405; */
  stroke-miterlimit: 10;
}
.st6 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 1.64;
  /* stroke-width: 2.46440935; */
  stroke-miterlimit: 10;
}
.st7 {
  fill: var(--fill-color-secondary);
  stroke-width: 0.1;
  /* stroke-width: 0.20536745; */
}

.jarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jarCounter {
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
}
