.container h1 {
  text-align: center;
}

.container h2 {
  font-size: small;
  text-align: center;
}

.st5 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 3.01;
  /* stroke-width: 4.51808405; */
  stroke-miterlimit: 10;
}
.st6 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 1.64;
  /* stroke-width: 2.46440935; */
  stroke-miterlimit: 10;
}
.st7 {
  fill: var(--fill-color-secondary);
  stroke-width: 0.1;
  /* stroke-width: 0.20536745; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container svg {
  margin: 20px auto 20px;
}

.jarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jarCounter {
  font-size: 32px;
  font-weight: bold;
  margin: 16px;
}

.confirmationContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  position: absolute;
  z-index: 1001;
  background-color: var(--background-color);
  border: 5px solid var(--font-color);
  padding: 30px 20px 20px;
  border-radius: 20px;
  height: 90%;
}

.confirmationContainer p {
  flex-basis: 100%;
  text-align: center;
  font-weight: bold;
}

.container button {
  /* .textButton { */
  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  height: 40px;
  color: var(--font-color);
  padding: 0px 15px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  border-radius: 5px;
  font-weight: medium;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  margin-top: 20px;
}

/* .textButton:hover { */
.container button:hover {
  background-color: var(--font-color-secondary);
}
