.container h1 {
  text-align: center;
}

.container p {
  text-align: center;
}

.countContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem 0.4rem;
  justify-content: center;
  max-width: 30rem;
  padding: 0 1rem;
  margin: 0.5rem auto 0px;
}

.progressText {
  display: inline-block;
  color: var(--font-color-tertiary);
  font-weight: 500;
  text-align: center;
  /* padding: 0.4rem 0 0; */
  width: 3.5rem;
  height: 3.5rem;
  /* font-size: 1rem; */
}

.progressText b {
  color: var(--font-color);
  /* font-size: 1rem; */
}

.progressTextContainer {
  display: flex;
  flex-wrap: wrap;
}

.st5 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 3.01;
  /* stroke-width: 4.51808405; */
  stroke-miterlimit: 10;
}
.st6 {
  fill: none;
  stroke: var(--fill-color-primary);
  stroke-width: 1.64;
  /* stroke-width: 2.46440935; */
  stroke-miterlimit: 10;
}
.st7 {
  fill: var(--fill-color-secondary);
  stroke-width: 0.1;
  /* stroke-width: 0.20536745; */
}

.jarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.jarInnerContainer {
  position: relative;
  height: 3rem;
  width: 77.212006px;
}

.container .jarScore {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.container svg {
  /* transform: translate(0, -25%); */
  transform: matrix(
    var(--scale),
    0,
    0,
    var(--scale),
    0,
    calc(-24 * var(--scale))
  );
  /* transform: matrix(var(--scale), 0, 0, var(--scale), 0, -24); */
  transform-origin: center top;
}

.jarCounter {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem;
}

.container button {
  /* background-color: var(--background-color); */
  border: 2px solid var(--border-color);
  padding: 0px 1rem;
  display: flex;
  margin: 1.2rem auto;
  /* height: 2.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--font-color);
  text-decoration: none;
  font-size: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  */
}

.container button:hover {
  background-color: var(--background-color-secondary);
}
