.gameButtons {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem auto 0px;
  width: 15rem;
}

.gameButtons button {
  background-color: var(--background-color);
  border: 0.125rem solid var(--border-color);
  height: 2.5rem;
  color: var(--font-color);
  padding: 0px 1rem;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9375rem;
  border-radius: 0.3rem;
  font-weight: medium;
  cursor: pointer;
  font-family: Poppins, sans-serif;
}

.gameButtons button:nth-child(odd) {
  width: 4.5rem;
}

.gameButtons button:hover {
  background-color: var(--fill-color-secondary);
}
