.hex {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bolder;
  /* width: 0;
  min-width: 100%; */

  /* color: var(--font-color); */
}

.hex:hover {
  cursor: pointer;
}

.hexagonBorder {
  stroke: var(--border-color);
  stroke-width: 2;
  fill: rgba(254, 254, 254, 0);
  position: absolute;
  /* transform: translate(50%, 50%); */
}

.letterContainer {
  /* this part prevents the letter from increasing the parent div width */
  width: 0;
  min-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: var(--font-color);
}

/* hex positions */

.hexLeft {
  top: 50%;
  left: calc(var(--hex-width) / 2);
  /* left: calc(var(--hex-gap) + calc(var(--hex-width) / 2)); */
}

.hexRight {
  top: 50%;
  left: calc(
    4 * var(--hex-gap) + 2 * var(--hex-width) + calc(var(--hex-width) / 2)
  );
  /* left: calc(
    3 * var(--hex-gap) + 2 * var(--hex-width) + calc(var(--hex-width) / 2)
  ); */
}

.hexTopRight {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(3 * var(--hex-gap) + 2 * var(--hex-width));
  /* left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width)); */
}

.hexTopLeft {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(1 * var(--hex-gap) + var(--hex-width));
  /* left: calc(1.5 * var(--hex-gap) + var(--hex-width)); */
}
.hexBottomLeft {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(1 * var(--hex-gap) + var(--hex-width));
  /* left: calc(1.5 * var(--hex-gap) + var(--hex-width)); */
}
.hexBottomRight {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(3 * var(--hex-gap) + 2 * var(--hex-width));
  /* left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width)); */
}

.hexCenter {
  top: 50%;
  left: 50%;
}

.hexCenter path {
  fill: var(--background-color-secondary);
  stroke-width: 0;
}
