.hex-container {
  --hex-size-multiplier: 0.77;
  --hex-width: calc(var(--hex-size-multiplier) * 104px);
  --hex-gap: 6px;
  --hex-height: calc(var(--hex-size-multiplier) * 60px);
  --hex-container-size: calc((var(--hex-width) * 3) + (var(--hex-gap) * 4));

  position: relative;
  background-color: black;
  width: calc((var(--hex-width) * 3) + (var(--hex-gap) * 4));
  height: calc((var(--hex-height) * 5) + (var(--hex-gap) * 4));
}

.hex {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
}

.hex:hover {
  cursor: pointer;
}

.hex-left {
  top: 50%;
  left: calc(var(--hex-gap) + calc(var(--hex-width) / 2));
}

.hex-right {
  top: 50%;
  left: calc(
    3 * var(--hex-gap) + 2 * var(--hex-width) + calc(var(--hex-width) / 2)
  );
}

.hex-top-right {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width));
}

.hex-top-left {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(1.5 * var(--hex-gap) + var(--hex-width));
}
.hex-bottom-left {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(1.5 * var(--hex-gap) + var(--hex-width));
}
.hex-bottom-right {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width));
}

.hex-center {
  top: 50%;
  left: 50%;
}
