.hex {
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
}

.hex:hover {
  cursor: pointer;
}

.hex .top {
  position: absolute;
  transform: translateY(calc(-1 * var(--hex-height) / 2));
  width: 0;
  border-bottom: calc(var(--hex-height) / 2) solid var(--hexagon-color);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
}

.hex .middle {
  /* position: absolute; */
  width: var(--hex-width);
  height: var(--hex-height);
  background: var(--hexagon-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  /* font-family: "Poppins-Bold", "Montserrat", "Open Sans", sans-serif; */
  font-weight: 700;
  text-transform: uppercase;
}

.hex .bottom {
  position: absolute;
  width: 0;
  border-top: calc(var(--hex-height) / 2) solid var(--hexagon-color);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
}

/* TODO: fix these hex covers */

.hex .topCover {
  width: 0;
  position: absolute;
  transform: translateY(calc(-1.5 * 0.94 * var(--hex-height)))
    scale(var(--hex-cover-scale));
  border-bottom: calc(var(--hex-height) / 2) solid var(--hexagon-colorCover);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
  z-index: 100;
}

.hex .middleCover {
  position: absolute;
  transform: translateY(calc(-1 * var(--hex-height)))
    scale(var(--hex-cover-scale));
  width: var(--hex-width);
  height: var(--hex-height);
  background: var(--hexagon-colorCover);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.hex .bottomCover {
  position: absolute;
  transform: translateY(calc(-0.08 * var(--hex-height)))
    scale(var(--hex-cover-scale));
  width: 0;
  border-top: calc(var(--hex-height) / 2) solid var(--hexagon-colorCover);
  border-left: calc(var(--hex-width) / 2) solid transparent;
  border-right: calc(var(--hex-width) / 2) solid transparent;
}

/* override colors for middle hex in top, middle and bottom */

.hexCenter > .top {
  border-bottom: calc(var(--hex-height) / 2) solid var(--yellow-secondary);
}

.hexCenter > .middle {
  background: var(--yellow-secondary);
}

.hexCenter > .bottom {
  border-top: calc(var(--hex-height) / 2) solid var(--yellow-secondary);
}

/* hex positions */

.hexLeft {
  top: 50%;
  left: calc(var(--hex-gap) + calc(var(--hex-width) / 2));
}

.hexRight {
  top: 50%;
  left: calc(
    3 * var(--hex-gap) + 2 * var(--hex-width) + calc(var(--hex-width) / 2)
  );
}

.hexTopRight {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width));
}

.hexTopLeft {
  top: calc(var(--hex-gap) + var(--hex-height));
  left: calc(1.5 * var(--hex-gap) + var(--hex-width));
}
.hexBottomLeft {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(1.5 * var(--hex-gap) + var(--hex-width));
}
.hexBottomRight {
  top: calc(3 * var(--hex-gap) + 4 * var(--hex-height));
  left: calc(2.5 * var(--hex-gap) + 2 * var(--hex-width));
}

.hexCenter {
  top: 50%;
  left: 50%;
}
