/* .inputWord {
  height: 50px;
  text-align: center;
  font-family: "Montserrat", "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  outline: none;
} */

.container {
  max-width: 20rem;
  margin: auto;
}

.inputWord {
  white-space: nowrap;
  height: 3rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--fill-color-primary);
  margin: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: center;
}

.inputWord::before {
  content: "";
  width: 0.25rem;
  height: 1.4rem;
  margin-left: 0.3rem;
  background-color: var(--background-color-secondary);
  animation: blinker 1.5s step-start infinite;
  display: inline-block;
  transform: translate(0px, 0.125rem);
}

.centerLetter {
  color: var(--background-color-secondary);
}

.shake {
  animation: shake 0.4s ease-in-out 0s 2;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
