.container {
  max-width: 240px;
  margin: 20px auto 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--yellow-secondary); */
}

.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 10px;
}
