.background {
  position: absolute;
  min-height: max(100vh, 100%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10001;
  top: 0;
  left: 0;
  cursor: pointer;
  overflow-y: hidden;
}

.containerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: max(100vh, 100%);
  height: fit-content;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.containerScroll {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.containerOuter {
  display: inline-block;
  position: absolute;
  margin: auto;
  overflow: hidden;
  border: 5px solid var(--font-color);
  border-radius: 20px;
  max-width: 25rem;
  min-width: 16rem;
  max-height: 90%;
  background-color: var(--background-color);
  color: var(--font-color);
  z-index: 10002;
  text-align: left;
  font-size: 0.8rem;
  /* font-size: smaller; */
  padding: 2rem 1.2rem 1.2rem;
  animation: slidedown 1.5s ease-out forwards;
  overflow-y: auto;
}

.container {
  overflow-y: auto;
  /* height: fit-content; */
  height: fit-content;
}

.closingButton {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  float: right;
  font-size: 3rem;
  transition: transform 1.5s;
}

.closingButton:hover {
  transform: rotate(360deg);
  color: var(--background-color-secondary);
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@keyframes slidedown {
  0% {
    transform: translate(0, -150%);
  }
  75% {
    transform: translate(0, 5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* target only mobile devices with orientation: landscape */
/* @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .background {
    width: 100%;
    height: 100%;
  }
} */
