.userWords {
  max-width: 15rem;
  width: 100%;
  margin: 0.6rem auto 0.6rem;
  position: relative;
  z-index: 100;
  user-select: none;
  cursor: pointer;
  min-height: 2.5rem;
  /* height: auto; */
}

.userWords__content {
  width: 100%;
  border-radius: 0.3rem;
  background-color: var(--background-color);
  border: 0.125rem solid var(--border-color);
  position: relative;
  position: absolute;
  top: 0;
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  min-height: 2.5rem;
  white-space: nowrap;
}

.userWords__content__text {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--font-color);
  position: absolute;
  top: 0;
  left: 1rem;
  right: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
  user-select: none;
  text-align: left;
  text-overflow: ellipsis;
}

.userWords__content__blocks {
  display: flex;
  flex-wrap: wrap;
  /* position: absolute; */
  /* justify-content: center; */
}

.userWords__content__text__darker {
  color: var(--font-color);
  display: inline;
}

.userWords__content__text__darker:after {
  background: var(--background-color);
  content: ", ";
}

.userWords__content__blocks__block {
  color: var(--font-color);
  font-size: 0.8rem;
  margin: 0.1rem;
  padding: 0.3rem;
  /* background: var(--hexagon-color); */
  /* border: 2px dotted var(--border-color); */
  border-radius: 0.3rem;
}

.userWords__content__blocks__block:hover {
  /* background-color: var(--yellow); */
  /* color: var(--yellow); */
  text-decoration: none;
}

.userWords__content__arr {
  position: absolute;
  top: 1rem;
  right: 0.75rem;
  fill: var(--font-color);
  stroke: var(--font-color);
}

.svgArrow {
  float: right;
  fill: none;
  stroke: var(--fill-color-secondary);
  stroke-width: 13;
}

.pangram {
  background-color: var(--font-color-secondary);
}
