:root {
  font-family: "Poppins", sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  /* color-scheme: light dark; */

  /* background-color: #242424; */
  /* --hexagon-color: black; */
  --hexagon-color: #e4eaf3;
  --hexagon-colorCover: #ffffff;
  --color-border-dark: #000000;
  --color-font-dark: #000000;
  --yellow-secondary: #ffd924;
  --background-color: #ffffff;
  --gray2: #6d7c95;
  --app-scale-up: 1.2;
  --app-scale-down: 0.9;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-width: 320px;
  overflow-x: hidden;
  height: inherit;
}

button {
  line-height: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-font-dark);
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0;
  font-family: Poppins, sans-serif;
}

::-moz-selection {
  background: var(--yellow-secondary);
}

::selection {
  background: var(--yellow-secondary);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #474621;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
